body{
    /* background-image: url("https://images.pexels.com/photos/1558690/pexels-photo-1558690.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 50px;
    padding-top: 50px; */
    text-decoration: solid;
   
   
}

.main{
    /* background-color: rgba(133, 130, 130, 0.39); */
    color: black;
    border-radius: 15px;
    /* border: 2px solid black; */

}
/* newly added */
form {
    background-color: rgba(0, 0, 0, 0.409);
}

.custom-title {
    color: #007BFF;
    font-size: 1.5em;
    font-weight: bold;
}

.custom-html {
    color: #333;
    font-size: 1em;
    text-align: left;
}

.custom-confirm-button {
    background-color: #0df343;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.custom-deny-button {
    background-color: #0f0102;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.custom-cancel-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* HTML: <div class="loader"></div> */
.loader {
    display: inline-grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    height: 27px;
    aspect-ratio: 5;
    --c: #000 90deg,#0000 0;
    background:
     conic-gradient(from 135deg at top   ,var(--c)),
     conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
    background-size: 20% 50%;
    background-repeat: repeat-x;
    clip-path: inset(0 60% 0 0);
    animation: l19 .8s infinite steps(6) alternate;
  }
  .loader:after {
    animation-direction: alternate-reverse;
  }
  @keyframes l19{
    to {clip-path: inset(0 0 0 60%)}
  }

  .icon-size{
    max-height: 0.95rem;
    padding-left: 9px;
}

.signature-info p {
    font-size: 12px;
    text-decoration:overline dotted black;
}
.inv-cus-info-lable{
    font-size: 12px !important;
}

.inv-cus-info {
    font-family: notoSansKR-Regular !important;
    font-size: 12px !important;
    height: 17px !important;
    background: none !important;
    border: none !important;
    color: black !important;
    text-align: left;
    margin-top: 1px !important;
}

.background-color{
    margin: 0;
    /* background-image: url("https://codzsword.github.io/bootstrap-sidebar/background-image.jpg"); */
    background-image: url("../assets/blue-toned-set-triangular-paper-sheets-with-copy-space.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}