.dropdown-toggle::after {
  content: none;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  /* background-image: url("https://codzsword.github.io/bootstrap-sidebar/background-image.jpg"); */
  background-image: url("../assets/blue-toned-set-triangular-paper-sheets-with-copy-space.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
aside {
  color: #fbfcfe;
  background-color: #0c48a2;
}

h3 {
  font-size: 1.2375rem;
  color: #100101;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

/* Layout skeleton */

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  transition: all 0.35s ease-in-out;
  box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
  z-index: 1111;
}

/* Sidebar collapse */

#sidebar.collapsed {
  margin-left: -264px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}

.sidebar-logo {
  padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
  color: #e4eaf0;
  font-size: 1.25rem;
  font-weight: 600;
}

.sidebar-nav {
  padding: 0;
}

.sidebar-header {
  /* color: #04407b; */
  font-size: 0.75rem;
  padding: 1.5rem 1.5rem 0.375rem;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.sidebar-item.active {
  background-color: #051360; /* Or any desired color */
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

/* Responsive */

@media (min-width: 768px) {
  .content {
    width: auto;
  }
}

.empcard {
  background-color: #fff; /* Initial background color */
  transition: background-color 0.8s ease-in-out; /* Transition properties */
}

.empcard-hover:hover {
  background-color: #61e4fb; /* Light gray background on hover */
  box-shadow: 0px 2px 5px rgba(72, 159, 136); /* Optional subtle shadow */
  cursor: pointer; /* Optional cursor change to indicate interactivity */
}

.itemcard {
  background-color: #fff; /* Initial background color */
  transition: background-color 0.8s ease-in-out; /* Transition properties */
}

.itemcard-hover:hover {
  background-color: #e5f909; /* Light gray background on hover */
  box-shadow: 0px 2px 5px rgba(72, 159, 136); /* Optional subtle shadow */
  cursor: pointer; /* Optional cursor change to indicate interactivity */
}

.returncard {
  background-color: #fff; /* Initial background color */
  transition: background-color 0.8s ease-in-out; /* Transition properties */
}

.returncard-hover:hover {
  background-color: #f29ed9; /* Light gray background on hover */
  box-shadow: 0px 2px 5px rgba(72, 159, 136); /* Optional subtle shadow */
  cursor: pointer; /* Optional cursor change to indicate interactivity */
}
.cuscard {
  background-color: #fff; /* Initial background color */
  transition: background-color 0.8s ease-in-out; /* Transition properties */
}

.cuscard-hover:hover {
  background-color: #8af389; /* Light gray background on hover */
  box-shadow: 0px 2px 5px rgba(72, 159, 136); /* Optional subtle shadow */
  cursor: pointer; /* Optional cursor change to indicate interactivity */
}

