body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url("../assets/grey-laptop-with-white-stationery.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ensure full-height body */
}

.card{
    background-color: rgba(158, 181, 228, 0.39);
    color: black;
    border-radius: 15px;
    /* border: 2px solid black; */
}