<!-- common segment start -->

<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">DashBoard</title>
    <!-- link bs css -->
    <link rel="stylesheet" href="resourcesT/bootstrap_5.3.1/css/bootstrap.min.css">
    <!-- datatable -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <script src="resourcesT/dataTables-1.13.6/js/dataTables.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.min.css"> -->
    <link rel="stylesheet" type="text/css" href="resourcesT/dataTables-1.13.6/css/css/dataTables.min.css">
    <script src="dashboard/dashboard.js"></script>
    <!-- sweet alert2 -->
    <script src="resourcesT/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- link bs js file -->
    <script src="resourcesT/bootstrap_5.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="resourcesT/style/dashboard.css">
    <!-- <link rel="stylesheet" href="resourcesT/style/login.css"> -->
    <link rel="stylesheet" href="style.css">
    <!-- link fontawesome -->
    <link rel="stylesheet" href="resourcesT/fontawesome_web/css/all.css">
    <!-- jquery -->
    <script src="resourcesT/js/jquery.js"></script>
    <script src="resourcesT/assets/jeewa-high-resolution-logo-black-transparent.png"></script>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="resourcesT/w3css/w3.css">
    <!-- Include jQuery and DataTables scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <!-- button css -->
    <link rel="stylesheet" href="resourcesT/style/button.css">
    <!-- common css -->
    <link rel="stylesheet" href="resourcesT/style/common.css">
    <!-- employee css -->
    <link rel="stylesheet" href="resourcesT/style/employee.css">
    <!-- employee css -->
    <link rel="stylesheet" href="resourcesT/style/emp.css">
    <!-- tabel function -->
    <script src="resourcesT/js/tableFunction.js"></script>
    <!-- validation js -->
    <script src="resourcesT/js/validation.js"></script>
    <!-- link common js file -->
    <script src="resourcesT/js/commonFunction.js"></script>
    <script src="sidebarcontrollers/sidebarController.js"></script>
    <script th:inline="javascript">
        window.addEventListener("load",()=>{
            var userphoto= /*[[${loguserphoto}]]*/ 'loguserphoto';
            // console.log(userphoto);
            if (userphoto != null) {
                imgUserImage.src = atob(userphoto)
            }
        })
    </script>



</head>

<!-- common segment end -->
<!-- login start -->

<head th:fragment="loginFragment">

    <!-- <link rel="stylesheet" href="../resourcesT/style/dashboard.css"> -->
    <link rel="stylesheet" href="../resourcesT/style/login.css">


</head>

<!-- login end -->

<!-- employee head start -->

<head th:fragment="headEmpFragment">
    <script src="controllerjs/employeeController.js"></script>
</head>
<!-- employee head end -->
<!-- user head start -->

<head th:fragment="headUserFragment">
    <!-- <script src="controllerjs/userController.js"></script> -->
    <script src="controllerjs/userController.js"></script>
</head>
<!-- user head end -->
<!-- user head start -->

<head th:fragment="headPrivilegeFragment">
    <script src="controllerjs/privilegeController.js"></script>
</head>
<!-- user head end -->
<!-- graphic head start -->

<head th:fragment="headGraphicFragment">
    <script src="formControllers/graphicCardController.js"></script>
</head>
<!-- graphic head end -->
<!-- motherboard head start -->

<head th:fragment="headMotherBoardFragment">
    <script src="formControllers/MotherBoardController.js"></script>
</head>
<!-- motherboard head end -->
<!-- processor head start -->

<head th:fragment="headProcessorFragment">
    <script src="formControllers/processorController.js"></script>
</head>
<!-- processor head end -->
<!-- Ram head start -->

<head th:fragment="headRamFragment">
    <script src="formControllers/ramController.js"></script>
</head>
<!-- Ram head end -->
<!-- powersupply head start -->

<head th:fragment="headPowerSupplyFragment">
    <script src="formControllers/powerSupplyController.js"></script>
</head>
<!-- powersupply head end -->
<!-- powersupply head start -->

<head th:fragment="headMonitorFragment">
    <script src="formControllers/monitorController.js"></script>
</head>
<!-- powersupply head end -->
<!-- casing head start -->

<head th:fragment="headCasingFragment">
    <script src="formControllers/casingController.js"></script>
</head>
<!-- casing head end -->
<!-- casing head start -->

<head th:fragment="headHardDiskFragment">
    <script src="formControllers/hardDiskController.js"></script>
</head>
<!-- casing head end -->
<!-- supplier head start -->

<head th:fragment="headSupplierFragment">
    <script src="supplyChainControllers/supplierController.js"></script>
</head>
<!-- supplier head end -->
<!-- purchase head start -->

<head th:fragment="headPurchaseFragment">
    <script src="supplyChainControllers/purchaseController.js"></script>
</head>
<!-- purchase head end -->
<!-- GRN head start -->

<head th:fragment="headGRNFragment">
    <script src="supplyChainControllers/grnControllerOld.js"></script>
</head>
<!-- GRN head end -->
<!-- Invoice head start -->

<head th:fragment="headInvoiceFragment">
    <script src="salesControllers/invoiceController.js"></script>
</head>
<!-- Invoice head end -->
<!-- customer head start -->

<head th:fragment="headCustomerFragment">
    <script src="customerControllers/customerDetailController.js"></script>
</head>
<!-- customer head end -->
<!-- customer order head start -->

<head th:fragment="headCustomerOrderFragment">
    <script src="customerControllers/customerOrderController.js"></script>
</head>
<!-- customer order head end -->
<!-- repair head start -->

<head th:fragment="headRepairFragment">
    <script src="repairController/repairController.js"></script>
</head>
<!-- repair head end -->
<!-- repair head start -->

<head th:fragment="headDashboardFragment">
    <!-- <script src="dashboard/dashboard.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="dashboard/assistantDashboard.js"></script>

</head>
<!-- repair head end -->
<!-- repair head start -->

<head th:fragment="headReportFragment">  
    <script src="reportControllers/reportController.js"></script>
</head>
<!-- repair head end -->
<!-- repair head start -->

<head th:fragment="headInventoryFragment"> 
    <script src="inventoryControllers/inventoryController.js"></script>
</head>
<!-- repair head end -->
