<!-- navbar start-->
<nav class="navbar navbar-expand-sm navbar-light bg-body-tertiary " th:fragment="topnavbarfragment">
    <!-- container wrapper -->
    <div class="container-fluid">
        <!-- responsive button start -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- responsive button end -->
        <!-- Button for sidebar toggle start -->
        <button class="btn" type="button" data-bs-theme="light">
            <span class="navbar-toggler-icon ">

            </span>
        </button>
        <!-- Button for sidebar toggle end -->
        <a class="navbar-brand fs-5 fs-sm-1 " style="color: #0c48a2; font-weight: bolder; " href="#"
            th:text="${modulename}">DashBoard</a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                    </a>
                </li>


            </ul>
            <div class="d-flex flex-lg-row flex-sm-column" style="display: flex; ">
                <!-- search start -->
                <div>

                    <form class="d-flex me-5" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

                <!-- search end -->
                <!--icons start  -->
                <div>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- notification start -->
                        <li class="nav-item dropdown d-none" >

                            <a href="#" class="nav-link dropdown-toggle position-relative" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">

                                <i class="fa-solid fa-bell fa-shake"></i>
                                <span id="notificationId"
                                    class="position-absolute top-0 start-90 mt-2 pr-2 translate-middle badge rounded-pill badge-danger text-danger">
                                    10
                                </span>

                            </a>
                            <!-- <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul> -->


                        </li>
                        <!-- notification end -->
                        <!-- profile start -->
                        <li class="nav-item dropdown d-none">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" id="imgUserImage"
                                    class="rounded-circle" height="25" alt="Black and White Portrait of a Man"
                                    loading="lazy" />
                            </a>
                            <!-- <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul> -->
                        </li>
                        <li class="nav-item dropdown">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal56" onclick="refreshProfileEdit()">
                                <i class="fa-solid fa-screwdriver-wrench" id="dropdownIcon"></i>
                            </button>
                            <!-- <button class="nav-link btn btn-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                style="color: #0c48a2; font-weight: bolder;">
                                <i class="fa-solid fa-screwdriver-wrench" id="dropdownIcon"></i>
                            </button> -->
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>

                        </li>
                        <!-- user setting modal start -->
                        <div class="modal fade" id="exampleModal56" th:fragment="settingmodal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Settings</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form onsubmit="return false" id="formSettings">

                                            <div class="row ms-4">
                                                <div class="col-3">
                                                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                                                        class="rounded-circle mb-4 ms-3" height="75"
                                                        alt="Black and White Portrait of a Man" loading="lazy" />
                                                </div>
                                                <div class="col-9 mt-3">
                                                    <button class="btn btn-primary" type="button">Add +</button>
                                                    <button class="btn btn-danger " type="button">Remove</button>
                                                </div>
                                            </div>
                                            <!-- username start -->
                                            <div class="mb-3  ms-3 me-3 row form-floating">

                                                <input type="text" class="form-control " placeholder="Enter Username"
                                                    id="inputUsernameSet" required
                                                    onkeyup="textValidation(inputUsernameSet, '^[A-Z][a-z]{2,30}$', 'loggedUser', 'username')">

                                                <label for="inputUsernameSet" class="">

                                                    Username
                                                    <i class="fa-solid fa-question" data-bs-toggle="tooltip"
                                                        data-bs-title="Enter UserName" data-bs-placement="bottom"></i>
                                                </label>

                                            </div>
                                            <!-- username end -->
                                            <!-- password start -->
                                            <div class="mb-3  ms-3 me-3 row form-floating">


                                                <input type="password" class="form-control "
                                                    placeholder="Enter Password" id="inputPasswordSet" required
                                                    onkeyup="textValidation(inputPasswordSet, '^[A-Z][a-z]{2,30}$', 'loggedUser', 'password')">
                                                <label for="inputPasswordSet" class="">Password</label>

                                            </div>

                                            <!-- password end -->
                                            <!-- password re start -->
                                            <div class="mb-3  ms-3 me-3 row form-floating">

                                                <input type="password" class="form-control "
                                                    placeholder="Enter Re-Password" id="inputRePasswordSet" required
                                                    onkeyup="passwordsValidation()">

                                                <label for="inputRePasswordSet" class="">Re-Password</label>

                                            </div>

                                            <!-- password re end -->
                                            <!-- email start -->
                                            <div class="mb-3  ms-3 me-3 row form-floating">

                                                <input type="email" class="form-control" placeholder="Enter Email"
                                                    id="inputEmailSet" required
                                                    onkeyup="textValidation(inputEmailSet, '^[A-Za-z0-9]{6,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'loggedUser', 'email')">
                                                <label for="inputEmailSet" class="">Email</label>


                                            </div>

                                            <!-- email end -->
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary"
                                                onclick="submitUserSettings()">Save changes</button>
                                            <script>
                                                const submitUserSettings = () => {
                                                    let serverResponse = ajaxRequestBodyMethod("/changeuser", "PUT", loggedUser)
                                                    if (serverResponse == "OK") {
                                                        alert("User profile change successfully...!")
                                                        window.location.assign("/logout")
                                                    } else {
                                                        alert("Delete not succefully  .." + serverResponse)
                                                    }

                                                }
                                            </script>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- user setting modal end -->

                        <li class="nav-item ">
                            <a class="nav-link " style="color: #0c48a2; font-weight: bolder; " aria-disabled="true"
                                th:text="${logusername}">Admin</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " style="color: #a20c68; font-weight: bolder; " aria-disabled="true"
                                th:text="${loguserrole}"></a>
                        </li>
                        <li class="nav-item ">
                            <button type="button" class="btn btn-primary" onclick="logout()">
                                <i class="fa-solid fa-right-from-bracket fa-beat" id="logoutIcon"></i>
                            </button>
                            <script>
                                const logout = () => {

                                    window.location.href = "/logout";
                                }
                            </script>
                        </li>
                        <!-- </li> -->
                        <!-- profile end -->

                    </ul>
                </div>

                <!--icons end  -->
            </div>


        </div>

</nav>
<!-- navbar end -->