<!-- navbar start-->
<nav class="navbar navbar-expand-sm navbar-light bg-body-tertiary " th:fragment="topnavbarfragment">
    <!-- container wrapper -->
    <div class="container-fluid">
        <!-- responsive button start -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- responsive button end -->
        <!-- Button for sidebar toggle start -->
        <button class="btn" type="button" data-bs-theme="light">
            <span class="navbar-toggler-icon ">

            </span>
        </button>
        <!-- Button for sidebar toggle end -->
        <a class="navbar-brand fs-5 fs-sm-1 " style="color: #0c48a2; font-weight: bolder; "
            href="#" th:text="${modulename}">DashBoard</a> 
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                    </a>
                </li>


            </ul>
            <div class="d-flex flex-lg-row flex-sm-column" style="display: flex; ">
                <!-- search start -->
                <div>

                    <form class="d-flex me-5" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

                <!-- search end -->
                <!--icons start  -->
                <div>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- notification start -->
                        <li class="nav-item dropdown">

                            <a href="#" class="nav-link dropdown-toggle position-relative" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">

                                <i class="fa-solid fa-bell fa-shake"></i>
                                <span
                                    class="position-absolute top-0 start-90 mt-2 pr-2 translate-middle badge rounded-pill badge-danger text-danger">
                                    10
                                </span>

                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>


                        </li>
                        <!-- notification end -->
                        <!-- profile start -->
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle " href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                                    class="rounded-circle" height="25"
                                    alt="Black and White Portrait of a Man" loading="lazy" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>

                        <li class="nav-item ">
                            <a class="nav-link " style="color: #0c48a2; font-weight: bolder; "
                                aria-disabled="true" th:text="${logusername}">Admin</a>
                        </li>
                        </li>
                        <!-- profile end -->

                    </ul>
                </div>

                <!--icons end  -->
            </div>


        </div>

</nav>
<!-- navbar end -->