<!-- Sidebar -->
<aside id="sidebar" th:fragment="sidebarfragment">
    <div class="h-100 ">
        <div class="sidebar-logo" style="display: flex; justify-content: center; align-items: center; ">
            <a href="#" class="fs-4">
                <div style="display: flex; justify-content: center; align-items: center; ">

                    <img src="../resourcesT/assets/jeewa-high-resolution-logo-white-transparent.png" alt=""
                        style="width: 40px; height: 40px;"><br>
                </div>

                Jeewa Computers
            </a>
        </div>
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
            <!-- <li class="sidebar-header fs-6">
                modules
            </li> -->
            <li class="sidebar-item">
                <a href="/dashboard" class="sidebar-link sidebar-sublink dashboard">
                    <i class="fa-solid fa-list ps-1 pe-2"></i>
                    Dashboard
                </a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                    aria-expanded="false" aria-controls="pages">
                    <i class="fa-solid fa-users pe-2"></i>
                    System User
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/employee" class="sidebar-link sidebar-sublink">Employee Management</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/user" class="sidebar-link sidebar-sublink">User Management</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/privilege" class="sidebar-link sidebar-sublink">Privilege Management</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                    aria-expanded="false" aria-controls="dashboard">
                    <i class="fa-solid fa-sliders pe-2"></i>
                    Supply Chain Management
                </a>
                <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/supplier" class="sidebar-link sidebar-sublink">Suppliers</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/purchase" class="sidebar-link sidebar-sublink">Purchase</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/grn" class="sidebar-link sidebar-sublink">GRN</a>
                    </li>
               
                </ul>
            </li>
            
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#sales"
                    aria-expanded="false" aria-controls="dashboard">
                    <i class="fa-solid fa-money-check-dollar pe-2"></i>                  
                     Sales Management
                </a>
                <ul id="sales" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/invoice" class="sidebar-link sidebar-sublink">Invoice</a>
                    </li>
               
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#repair"
                    aria-expanded="false" aria-controls="dashboard">
                    <i class="fa-solid fa-screwdriver-wrench pe-2"></i>               
                     Repair Management
                </a>
                <ul id="repair" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/repair" class="sidebar-link sidebar-sublink">Repair</a>
                    </li>
               
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#customer"
                    aria-expanded="false" aria-controls="dashboard">

                    <i class="fa-regular fa-user pe-2"></i>             
                     Customer Management
                </a>
                <ul id="customer" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/customer" class="sidebar-link sidebar-sublink">Customer Details</a>
                    </li>
               
                    <!-- <li class="sidebar-item">
                        <a href="/customerorder" class="sidebar-link sidebar-sublink">Customer Orders</a>
                    </li> -->
               
                </ul>
              
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
                    aria-expanded="false" aria-controls="auth">
                    <i class="fa-solid fa-paperclip pe-2"></i>
                    Items
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/graphiccard" class="sidebar-link sidebar-sublink">Graphic Cards</a>
                    </li>

                    <li class="sidebar-item">
                        <a href="/ram" class="sidebar-link sidebar-sublink">Ram</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/processor" class="sidebar-link sidebar-sublink">Processor</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/motherboard" class="sidebar-link sidebar-sublink">Motherboard</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/powersupply" class="sidebar-link sidebar-sublink">
                            PowerSupply
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/monitor" class="sidebar-link sidebar-sublink">
                            Monitor
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/casing" class="sidebar-link sidebar-sublink">
                            Casing
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/harddisk" class="sidebar-link sidebar-sublink">
                            HardDisk
                        </a>
                    </li>

                </ul>
            </li>
            <li class="sidebar-header">
                Multi Level Nav
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                    aria-expanded="false" aria-controls="multi">
                    <i class="fa-solid fa-share-nodes pe-2"></i>
                    Multi Level
                </a>
                <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi-two"
                            aria-expanded="false" aria-controls="multi-two">
                            Two Links
                        </a>
                        <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Link 1</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Link 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>