 <!-- Sidebar -->
 <aside id="sidebar" th:fragment="sidebarfragment">
    <div class="h-100 " >
        <div class="sidebar-logo" style="display: flex; justify-content: center; align-items: center; ">
            <a href="#" class="fs-4">
                <div style="display: flex; justify-content: center; align-items: center; ">

                    <img src="../resourcesT/assets/jeewa-high-resolution-logo-white-transparent.png" alt="" style="width: 40px; height: 40px;"><br>
                </div>

                Jeewa Computers
            </a>
        </div>
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
            <!-- <li class="sidebar-header fs-6">
                modules
            </li> -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link sidebar-sublink dashboard">
                    <i class="fa-solid fa-list pe-2"></i>
                    Dashboard
                </a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                    aria-expanded="false" aria-controls="pages">
                    <i class="fa-solid fa-users pe-2"></i>
                    System User
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sidebar-sublink">Employee Management</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sidebar-sublink">User Management</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sidebar-sublink">Privilege Management</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                    aria-expanded="false" aria-controls="dashboard">
                    <i class="fa-solid fa-sliders pe-2"></i>
                    Dashboard
                </a>
                <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sidebar-sublink">Dashboard Analytics</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sidebar-sublink">Dashboard Ecommerce</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
                    aria-expanded="false" aria-controls="auth">
                    <i class="fa-regular fa-user pe-2"></i>
                    Auth
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sidebar-sublink">Login</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link sidebar-sublink">Register</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-header">
                Multi Level Nav
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                    aria-expanded="false" aria-controls="multi">
                    <i class="fa-solid fa-share-nodes pe-2"></i>
                    Multi Level
                </a>
                <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                            Two Links
                        </a>
                        <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Link 1</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Link 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>