<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ layouts/head :: headFragment}">

</head>

<head th:replace="~{ layouts/head :: headSupplierFragment}">

</head>


<body>
    <div class="wrapper">

        <!-- side bar -->
        <aside th:replace="~{ layouts/sidebar :: sidebarfragment}"></aside>


        <!-- ui content area start -->
        <div class="main">
            <!-- top navbar -->
            <nav th:replace="~{ layouts/navbar :: topnavbarfragment}"></nav>
            <!-- main component start -->
            <main class="content px-3 py-2 w3-container">

                <!-- supplier table start -->
                <div class="w3-animate-right" id="empTable">

                    <div class="mb-3 " style="display: flex; justify-content:space-between; align-items: center;">

                        <h4>Supplier Table</h4>
                        <button id="empaddbtn" class="btn btn-success mb-2">Add Supplier</button>
                    </div>
                    <div class="container-fluid">
                        <div class="col-4">

                            <input class="form-control  mb-2" id="searchInput" type="text" placeholder="Search..">
                        </div>

                        <div class="mb-3 table-responsive">
                            <table class="table table-dark table-bordered border-primary" id="supplyTab">
                                <thead>

                                    <th scope="col">#</th>
                                    <th scope="col">Supplier Name</th>
                                    <th scope="col">Supplier Code</th>
                                    <th scope="col">Contact</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Brands</th>
                                    <th scope="col">Bank Details</th>
                                    <th scope="col">Button</th>

                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- supplier table end -->

                <!-- supplier form start -->
                <div id="empForm" class="w3-animate-left" style="display: none;">
                    <div class=" " style="display: flex; justify-content: space-between; align-items: center;">
                        <button id="empFormToTable" class="btn btn-success mb-3">Table</button>
                        <h4>Supplier Form</h4>
                    </div>
                    <div style="border: 1px solid black; padding: 10px;">

                        <!-- Supplier form start -->
                        <form class="p-2 m-2">

                            <!-- Supplier Name start -->
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" class="form-control" id="supplierName" placeholder="Supplier Name"
                                    value="" required title=""
                                    onkeyup="textValidation2(supplierName,supplierNameError, '^([A-Z][a-z]{2,30}[\\s])+([A-Z][a-z]{2,30}){1}$', 'supplier', 'name', 'Enter a name starting with a capital letter, followed by lowercase letters. Each word can have 2-30 characters.','top');">
                                <label for="supplierName">Supplier Name <span style="color: red;">*</span>
                                    <div class="" id="supplierNameError" style="display: none;">This name is not a valid
                                        one</div>
                                </label>
                            </div>
                            <!-- Supplier Name end -->

                            <!-- supplier address, contact no, email start -->
                            <div class="row mt-3 p-2 d-flex justify-content-center align-items-center ">
                                <div class="col-4 form-floating mb-3 p-1">
                                    <input type="text" class="form-control" id="supplierContact"
                                        placeholder="Selling Price" required
                                        onkeyup="textValidation2(supplierContact,supplierContactError,'^[0][7][1245678][0-9]{7}$', 'supplier', 'contactnumber');">

                                    <label for="floatingInput" class="pl-2">Supplier Number <span
                                            style="color: red;">*</span>
                                        <div class="" id="supplierContactError" style="display: none;">This contact
                                            number is not a valid one</div>
                                    </label>
                                </div>
                                <div class="col-4 form-floating mb-3 p-1">
                                    <input type="text" class="form-control" id="supplierEmail"
                                        placeholder="Purchase Price" required
                                        onkeyup="textValidation2(supplierEmail,supplierEmailError, '^[A-Za-z0-9]{6,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'supplier', 'email');">

                                    <label for="floatingInput">Supplier Email <span style="color: red;">*</span>

                                        <div class="" id="supplierEmailError" style="display: none;">This email is not a
                                            valid one</div>
                                    </label>
                                </div>
                                <div class="col-4 form-floating mb-3 p-1">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="supplierAddress">
                                    <label for="floatingInput">Supplier Address</label>
                                </div>

                            </div>
                            <!-- supplier address, contact no, email end -->

                            <!-- category vise brands start -->
                            <p class="d-inline-flex gap-1">

                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseCategory" aria-expanded="false"
                                    aria-controls="collapseCategory">
                                    Category Vise
                                </button>
                                <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseBrand" aria-expanded="false" aria-controls="collapseBrand">
                                    Brand Vise
                                </button> -->
                            </p>
                            <div class="collapse" id="collapseCategory">
                                <div class="card card-body">
                                    <div class="row">

                                        <div class="col-5">
                                            <!-- category -->
                                            <select class="cat form-select" id="selectCategory"
                                                aria-label="Default select example"
                                                onchange="selectDFieldValidation(selectCategory,'', 'supplierhascategory', 'category_id'); filterByCategory()">

                                            </select>
                                        </div>

                                        <div class="col-6 checkboxes-container"
                                            style="display: flex; flex-wrap: wrap; gap: 10px;" id="brandByCategory">
                                            <div class="form-check  ">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckChecked1">
                                                <label class="form-check-label" for="flexCheckChecked1">
                                                    <!-- Azuz -->
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-success mt-2" type="button"
                                                onclick="addToCateTable()">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="collapse" id="collapseBrand">
                                <div class="card card-body">
                                    <div class="row">

                                        <div class="col-5">
                                            <select class="form-select" id="selectBrand"
                                                aria-label="Default select example"
                                                onchange="selectDFieldValidation(selectBrand,'', 'supplierhascategory', 'brand_id'); filterByBrand()">
                                            </select>
                                        </div>

                                        <div class="col-4 checkboxes-container"
                                            style="display: flex; flex-wrap: wrap; gap: 10px;" id="categoryByBrand">
                                            <div class="form-check border-bottom border-3 border-success">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckChecked1">
                                                <label class="form-check-label" for="flexCheckChecked1">
                                                    Graphic Card
                                                </label>
                                            </div>

                                        </div>
                                      

                                    </div>
                                   
                                </div>
                            </div> -->
                            <table class="table mt-3 mb-3" id="selectedCategoryTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Brand</th>
                                        <th scope="col">Buttons</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <br>
                            <!-- category vise brands end -->
                            <!-- Bank details start -->
                            <p class="d-inline-flex gap-1">
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseBankDetails" aria-expanded="false"  aria-controls="collapseBankDetails">
                                    Bank Details
                                </button>
                            </p>
                            <div class="collapse" id="collapseBankDetails">
                                <div class="card card-body">
                                    <form class=" ">
                                        <div class="row mt-3 d-flex justify-content-center align-items-center ">
                                             <!-- bank name start -->
                                            <div class="col-6 form-floating  p-1">
                                                <input type="text" class="form-control" id="inputBankName" required
                                                    onkeyup="textValidation2(inputBankName,supplierBankNameError,'^([A-Z][a-z]{2,30})$', 'supplierbankdetails', 'bankname');">
                                                <label for="inputBankName" class="pl-2">Bank Name <span
                                                        style="color: red;">*</span>
                                                    <div class="" id="supplierBankNameError" style="display: none;">This
                                                        bank name is not a valid one</div>
                                                </label>


                                            </div>
                                            <!-- bank name end -->

                                            <!-- bank branch name start -->
                                            <div class="col-6 form-floating  p-1">
                                                <input type="text" class="form-control" id="inputBankBranch" required
                                                    onkeyup="textValidation2(inputBankBranch,supplierBankBranchError,'^([A-Z][a-z]{2,30})$', 'supplierbankdetails', 'branchname');">
                                                <label for="inputBankBranch">Bank Branch Name <span
                                                        style="color: red;">*</span>
                                                    <div class="" id="supplierBankBranchError" style="display: none;">
                                                        This branch name is not a valid one</div>
                                                </label>

                                            </div>
                                             <!-- bank branch name end -->

                                        </div>
                                        <div class="row d-flex justify-content-center align-items-center ">
                                            <!-- bank account no start -->
                                            <div class="col-6 form-floating p-1">
                                                <input type="text" class="form-control" id="inputAccName" required
                                                    onkeyup="textValidation2(inputAccName,supplierBankAccountError,'^([0-9]{2,10})$', 'supplierbankdetails', 'accno');">
                                                <label for="inputAccName">Account Number<span
                                                        style="color: red;">*</span>
                                                    <div class="" id="supplierBankAccountError" style="display: none;">
                                                        This account no is not a valid one</div>
                                                </label>

                                            </div>
                                            <!-- bank account no end -->
                                            <!-- bank account holder name start -->
                                            <div class="col-6 form-floating p-1">
                                                <input type="text" class="form-control" id="inputAccHolderName" required
                                                    onkeyup="textValidation2(inputAccHolderName,supplierBankAccountHolderError,'^([A-Z][a-z]{2,30})$', 'supplierbankdetails', 'accholdername');">
                                                <label for="inputAccHolderName">Account Holder Name <span
                                                        style="color: red;">*</span>
                                                    <div class="" id="supplierBankAccountHolderError"
                                                        style="display: none;">This name is not a valid one</div>
                                                </label>

                                            </div>
                                             <!-- bank account holder name end -->
                                        </div>

                                    </form>
                                </div>
                            </div>

                            <br>
                            <!-- Bank details end -->

                            <!-- add more details modal start-->
                            <button onclick="document.getElementById('moreSpecModal').style.display='block'"
                                class="w3-button w3-green">
                                Add More Specifications</button>
                            <div id="moreSpecModal" class="w3-modal">
                                <div class="w3-modal-content w3-animate-top w3-animate-fade w3-card-4">
                                    <header class="w3-container w3-blue">
                                        <span onclick="document.getElementById('moreSpecModal').style.display='none'"
                                            class="w3-button w3-display-topright">&times;</span>
                                        <h4>Add More Specs</h4>
                                    </header>
                                    <div class="w3-container">
                                        <table class="w3-table-all w3-hoverable mt-3 mb-3" id="tableSupplier">
                                            <thead>
                                                <tr class="w3-light-grey">
                                                    <th>Specification</th>
                                                    <th>Details</th>
                                                    <th>Delete Status</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>Read/Write Speeds</td>
                                                <td>7,000/5,100 MB/s</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Cache Memory
                                                </td>
                                                <td>Samsung 2GB Low Power DDR4 SDRAM
                                                </td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Security</td>
                                                <td>AES 256-bit Full Disk Encryption, TCG/Opal V2.0, Encrypted Drive
                                                    (IEEE1667)
                                                </td>
                                                <td>No</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <footer class="w3-container ">
                                        <div class="row p-2 d-flex justify-content-end align-items-center"
                                            style="display: flex; flex-direction: row; gap:10px;">
                                            <button class="col-3 btn btn-warning">UPDATE</button>
                                            <button class="col-3 btn btn-primary">ADD</button>

                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <!-- add more details modal end-->


                            <!-- button gruop start -->
                            <div class="row p-2 d-flex justify-content-end align-items-center"
                                style="display: flex; flex-direction: row; gap:10px;">
                                <button class="col-3 btn btn-warning" onclick="supplierUpdate()">UPDATE</button>
                                <button class="col-3 btn btn-primary suppAdd" onclick="supplierAdd()"
                                    type="submit">ADD</button>

                            </div>
                            <!-- button gruop end -->


                        </form>
                        <!-- Supplier form end -->
                    </div>


                </div>
                <!-- employee form end -->

            </main>
            <!-- main component end -->

        </div>
        <!-- ui content area end -->
    </div>



    <script src="templates/layouts/layout1.js"></script>
    <script src="templates/layouts/layout2.js"></script>

</body>

</html>