<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ layouts/head :: headFragment}">

</head>

<head th:replace="~{ layouts/head :: headEmpFragment}">

</head>

<body>
    <div class="wrapper">

        <!-- side bar -->
        <aside th:replace="~{ layouts/sidebar :: sidebarfragment}"></aside>


        <!-- ui content area start -->
        <div class="main">
            <!-- top navbar -->
            <nav th:replace="~{ layouts/navbar :: topnavbarfragment}"></nav>
            <!-- main component start -->
            <main class="content px-3 py-2 w3-container">

                <!-- employee table start -->
                <div class="w3-animate-right" id="empTable">

                    <div class="mb-3 " style="display: flex; justify-content:space-between; align-items: center;">

                        <h4>Employee Table</h4>
                        <button id="empaddbtn" class="btn btn-success mb-2">Add Employee</button>
                    </div>
                    <div class="container-fluid">
                        <div class="mb-3 table-responsive">
                            <table class="table table-striped-columns" id="empTab">
                                <thead class="table-secondary">

                                    <th scope="col">#</th>
                                    <th scope="col">Employee No</th>
                                    <th scope="col">FullName</th>
                                    <th scope="col">NIC</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status Of employee</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Buttons</th>

                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- employee table end -->

                <!-- employee form start -->
                <div id="empForm" class="w3-animate-left" style="display: none;">
                    <div class=" " style="display: flex; justify-content: space-between; align-items: center;">
                        <button id="empFormToTable" class="btn btn-success mb-3">Table</button>
                        <h4>Employee Form</h4>
                    </div>

                    <div style="border: 1px solid black; padding: 10px;">

                        <!-- Item form start -->
                        <form onsubmit="return false" id="formEmployee">
                            <!-- date start -->
                            <div class="row p-2">
                                <div id="date" class="fw-bolder" style="color: red;">2024-09-09</div>
                            </div>
                            <!-- date end -->



                            <div class="row justify-content-md-center ">
                                <!-- style="margin-top: 10px;width: 1200px; margin-left: 200px;" -->
                                <div class="container ">
                                    <!-- Required field -->
                                    <div class="row" style="margin-left: 10px;">

                                        <div>
                                            <b>
                                                <p class=" fw-bold">
                                                    <span class="text-danger">

                                                        * Required
                                                    </span>
                                                </p>
                                            </b>
                                        </div>
                                    </div>
                                    <!-- Required field end -->
                                    <!-- full name start -->
                                    <div class="row form-floating ms-4 me-3">

                                        <!-- <div class="form-floating "> -->
                                        <input type="text" class="form-control" placeholder="Enter Full Name"
                                            id="inputFullName1" required onchange='generateCallingNameValues()'
                                            onkeyup="textValidation(inputFullName1, '^([A-Z][a-z]{2,30}[\\s])+([A-Z][a-z]{2,30}){1}$', 'employee', 'fullname')">
                                        <label for="inputFullName1" class="" id="inputFullName1lbl">Full
                                            Name</label>


                                        <!-- </div> -->
                                    </div>
                                    <!-- fullname end -->
                                    <div class="row mt-3 ms-3 me-3">
                                        <!-- calling name start -->

                                        <div class="col p-1 form-floating">
                                            <input placeholder="Enter Calling Name" type="text" class="form-control"
                                                id="inputCallingName" list="dtaList"
                                                onkeyup="txtCallingNameValidator(this)"
                                                onchange="txtCallingNameValidator(this)">
                                            <datalist id="dtaList">
                                                <option value="Hirusha">
                                                <option value="Achintha">
                                                <option value="Fernando">

                                            </datalist>
                                            <label for="inputCallingName" class="">CallingName</label>
                                        </div>


                                        <!-- calling name end -->
                                        <!-- nic start -->
                                        <div class="col p-1 form-floating">

                                            <input placeholder="Enter NIC" type="text" class="form-control"
                                                id="inputNIC"
                                                onkeyup="textValidation(inputNIC, '^(([0-9]{9}[VvXxSs])|([0-9]{12}))$', 'employee', 'nic');">
                                            <label for="inputNIC" class="">NIC</label>

                                        </div>
                                        <!-- nic end -->
                                        <!-- gender start -->
                                        <div class="col p-1 ms-3">
                                            <div class="row">

                                                <label for="inputCallingName"
                                                    class="col-sm-2 col-form-label fw-bold">Gender</label>
                                            </div>
                                            <!-- <div class="row" > -->
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="flexRadioGender"
                                                    id="flexRadioMale" value="Male"
                                                    onchange="radioFieldValidator(flexRadioMale,'', 'employee', 'gender')">
                                                <label class="form-check-label " for="flexRadioMale">
                                                    male
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="flexRadioGender"
                                                    id="flexRadioFemale" value="Female"
                                                    onchange="radioFieldValidator(flexRadioFemale,'', 'employee', 'gender')">
                                                <label class="form-check-label " for="flexRadioFemale">
                                                    female
                                                </label>
                                            </div>
                                            <!-- </div> -->

                                        </div>
                                        <!-- gender end -->
                                        <!-- dob start -->
                                        <div class="col p-1 form-floating">

                                            <input type="date" class="form-control " id="inputDob" required
                                                onchange="dateFieldValidation(inputDob,'^[0-9]{4}[-][0-9]{2}[-][0-9]{2}$','employee','dateofbirth');">
                                            <label for="inputCallingName" class="">
                                                DOB<span style="color: red;">*</span>

                                            </label>


                                        </div>
                                        <!-- dob end -->

                                    </div>
                                    <div class="row mt-3 ms-3 me-3">
                                        <!-- mobile no start -->
                                        <div class="col form-floating p-1">

                                            <input placeholder="Enter Mobile No" type="text" class="form-control "
                                                id="inputMobNo"
                                                onkeyup="textValidation(inputMobNo,'^[0][7][1245678][0-9]{7}$', 'employee', 'mobile');"
                                                required>
                                            <label for="inputMobNo" class="">Mobile</label>

                                        </div>
                                        <!-- mobile no end -->
                                        <!-- land no start -->


                                        <!-- <div class="col-lg-10">
                                        <input placeholder="Enter Land No" type="text" class="form-control form-control-lg" id="inputLandNo">
                                    </div> -->
                                        <div class="col form-floating p-1  ">

                                            <input type="text" class="form-control" placeholder="Enter Land No"
                                                aria-label="Username" aria-describedby="basic-addon1" id="inputLand"
                                                onkeyup="textValidation(inputLand, '^[0][12345689][0-9]{8}$', 'employee', 'landno');">
                                            <label for="inputLandNo" class="">LandNo</label>
                                        </div>


                                        <!-- land no end -->
                                        <!-- email start -->
                                        <div class="col form-floating p-1">

                                            <input placeholder="Enter Email" type="email" class="form-control"
                                                id="inputEmail"
                                                onkeyup="textValidation(inputEmail, '^[A-Za-z0-9]{6,20}[@][a-z]{3,10}[.][a-z]{2,3}$', 'employee', 'email');">
                                            <label for="inputEmail" class="">Email
                                                <span class="text-danger">(Optional)</span>
                                            </label>

                                        </div>
                                        <!-- email end -->
                                    </div>
                                    <div class="row mt-3 ms-3 me-3">
                                        <!-- address start -->
                                        <div class="col form-floating p-1">
                                            <input placeholder="enter address" class="form-control" type="text"
                                                id="inputAddress" onkeyup="textValidation(inputAddress, 
                                            // '^([A-Za-z0-9\\/\\-\\s]{1,20}[/\\s]+([A-Z][a-z]{1,20}[.]))$', 
                                            '^([A-Z][a-z]{2,30}[\\s])+([A-Z][a-z]{2,30}){1}$',
                                            'employee', 'address');">
                                            <label class="" for="inputAddress">Address</label>

                                        </div>

                                        <!-- address end -->
                                        <!-- note start -->
                                        <div class="col form-floating p-1">

                                            <input class="form-control" placeholder="">
                                            <label class="">Note:<span class="text-danger">(Optional)</span></label>
                                        </div>

                                        <!-- note end -->
                                    </div>
                                    <div class="row mt-3 ms-3 me-3">
                                        <!-- designation start -->
                                        <div class="col form-floating p-1">
                                            <select id="selectDesignation" class="form-select "
                                                aria-label="Default select example"
                                                onchange="selectDFieldValidation(selectDesignation,'', 'employee', 'designation_id')">
                                            </select>
                                            <label for="selectDesignation" class="">Designation</label>


                                        </div>
                                        <!-- designation end -->
                                        <!-- civil status start -->
                                        <div class="col form-floating p-1">
                                            <select class="form-select " aria-label="Default select example"
                                                id="selectStatus"
                                                onchange="selectFieldValidation(selectStatus,'', 'employee', 'civilstatus')">
                                                <option selected>Select Civil Status</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                            <label for="selectStatus" class="">Civil</label>
                                        </div>
                                        <!-- civil status end -->
                                        <!-- emp status start -->
                                        <div class="col form-floating p-1">
                                            <select class="form-select " aria-label="Default select example"
                                                id="selectEStatus"
                                                onchange="selectDFieldValidation(selectEStatus,'', 'employee', 'employeestatus_id')">
                                            </select>
                                            <label for="selectEStatus" class="">EmpStatus</label>

                                        </div>
                                        <!-- emp status end -->
                                    </div>
                                    <!-- button group start -->
                                    <div class="row mt-4 mb-3 ms-3 me-3"
                                        style="display: flex;justify-content: space-between;">
                                        <div class="col">
                                            <button id="btnEmpclear" type="button" class="btn  btn-info"><i
                                                    class="fa-solid fa-broom"></i>Clear</button>
                                        </div>
                                        <div class="col" style="display: flex; justify-content: flex-end;gap:10px">
                                            <button id="btnEmpUpd" type="button" class="btn btn-warning"
                                                style="border-radius: 30px;" onclick="buttonEmpUpdate()"><i
                                                    class="fa-solid fa-pen-to-square"></i>Update</button>
                                            <button id="btnEmpAdd" type="button" class="btn  btn-success"
                                                style="border-radius: 30px;" onclick="buttonEmpAdd()"><i
                                                    class="fa-solid fa-plus"></i>Add</button>
                                        </div>
                                    </div>
                                    <!-- button group end -->



                                </div>
                            </div>



                        </form>
                        <!-- Item form end -->
                    </div>


                </div>
                <!-- employee form end -->

            </main>
            <!-- main component end -->

        </div>
        <!-- ui content area end -->
    </div>


    <script>
        const toggler = document.querySelector(".btn");

        toggler.addEventListener("click", function () {
            document.querySelector("#sidebar").classList.toggle("collapsed");
        });

        const sidebarItems = document.querySelectorAll(".sidebar-sublink");

        sidebarItems.forEach(function (item) {
            item.addEventListener("click", function () {
                document.querySelector("#sidebar").classList.toggle("collapsed");
            });
        });

        document.addEventListener("DOMContentLoaded", function () {

            document.querySelector("#sidebar").classList.toggle("collapsed");

        })

        const sidebarItems1 = document.querySelectorAll(".sidebar-item");

        sidebarItems1.forEach(function (item) {
            const link = item.querySelector(".sidebar-link");

            link.addEventListener("click", function () {
                sidebarItems1.forEach(function (otherItem) {
                    otherItem.classList.remove("active"); // Remove "active" from other items
                });
                item.classList.add("active"); // Add "active" to the clicked item
            });
        });




    </script>
    <script>
        const btn = document.getElementById("empaddbtn");
        btn.addEventListener("click", function () {
            const table = document.getElementById("empTable");
            const form = document.getElementById("empForm");

            // Animate table disappearance
            table.style.opacity = 1; // Ensure opacity is initially 1
            table.style.transition = "opacity 1.5s ease-out";
            table.style.display = "none"; // Trigger the animation

            // Delay form appearance slightly
            setTimeout(function () {
                form.style.opacity = 0;
                form.style.display = "block";
                form.style.transition = "opacity 1.5s ease-in";
                form.style.opacity = 1; // Gradually fade in
            }, 100); // Adjust the delay as needed
        });

        const Formbtn = document.getElementById("empFormToTable")
        Formbtn.addEventListener("click", function () {
            const table = document.getElementById("empTable")
            table.style.display = "block";
            const form = document.getElementById("empForm")
            form.style.display = "none"
        })
        const tableBtn = document.getElementById("empTable1")
        tableBtn.addEventListener("click", function () {
            const table = document.getElementById("empTable")
            table.style.display = "block";
            const form = document.getElementById("empForm")
            form.style.display = "none"
        })

    </script>




</body>

</html>