<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ layouts/head :: headFragment}">

</head>

<head th:replace="~{ layouts/head :: headPrivilegeFragment}">

</head>

<body>
    <div class="wrapper">

        <!-- side bar -->
        <aside th:replace="~{ layouts/sidebar :: sidebarfragment}"></aside>


        <!-- ui content area start -->
        <div class="main">
            <!-- top navbar -->
            <nav th:replace="~{ layouts/navbar :: topnavbarfragment}"></nav>
            <!-- main component start -->
            <main class="content px-3 py-2 w3-container">

                <!-- employee table start -->
                <div class="w3-animate-right" id="empTable">

                    <div class="mb-3 " style="display: flex; justify-content:space-between; align-items: center;">

                        <h4>Privilege Table</h4>
                        <button id="empaddbtn" class="btn btn-success mb-2">Add Privilege</button>
                    </div>
                    <div class="container-fluid">
                        <div class="mb-3 table-responsive">
                            <table class="table table-dark table-bordered border-primary" id="privTab">
                                <thead>

                                    <th scope="col">#</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Module</th>
                                    <th scope="col">Select</th>
                                    <th scope="col">Insert</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Button</th>

                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- employee table end -->

                <!-- employee form start -->
                <div id="empForm" class="w3-animate-left" style="display: none;" >
                    <div class=" " style="display: flex; justify-content: space-between; align-items: center;">
                        <button id="empFormToTable" class="btn btn-success mb-3">Table</button>
                        <h4>Privilege Form</h4>
                    </div>

                    <div style="border: 1px solid black; padding: 10px;">

                        <!-- Privilege form start -->
                        <form onsubmit="return false" id="formPrivilege">
                             <!-- date start -->
                             <div class="row p-2">
                                <div id="date" class="fw-bolder" style="color: red;">2024-09-09</div>
                            </div>
                            <!-- date end -->

                                <div class="row justify-content-md-center ">
                                    <!-- style="margin-top: 10px;width: 1200px; margin-left: 200px;" -->
                                    <div class="container ">
                                        <!-- Required field -->
                                        <div class="row" style="margin-left: 10px;">

                                            <div>
                                                <b>
                                                    <p class="fw-bold fw-bold">
                                                        <span class="text-danger">

                                                            * Required
                                                        </span>
                                                    </p>
                                                </b>
                                            </div>
                                        </div>
                                        <!-- Required field end -->
                                        <!-- role start -->
                                        <div class="row form-floating ms-3 me-3">
                                      
                                            <select id="selectRole" class="form-select "
                                            aria-label="Default select example"
                                            onchange="selectDFieldValidation(selectRole,'', 'privilege', 'role_id'); generateModuleList()">                                                                                    
                                        </select>
                                        <label for="selectRole"
                                            class="col form-label fw-bold">Role</label>
                                        </div>
                                        <!-- role end -->
                                        <!-- module start -->
                                        <div class="row mt-3 form-floating ms-3 me-3">
                                            <select id="selectModule" class="form-select "
                                            aria-label="Default select example"
                                            onchange="selectDFieldValidation(selectModule,'', 'privilege', 'module_id')">
                                            
                                            > </select>
                                        
                                        <label for="selectModule"
                                            class="">Module</label>



                                        </div>
                                        <!-- module end -->
                                        <!-- select start -->
                                        <div class="row ms-3 me-3">
                                            <div class="mb-3 row "
                                                style="height: 40px; display: flex; justify-content: center; align-items: center;">
                                                <label for="inputSelect1"
                                                    class="col-2 col-form-label ">Select</label>

                                                <div class="col-lg-10 form-check mt-1  " id="inputSelect1">

                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="inputSelect" checked onchange="checkBoxValidator(inputSelect,'','privilege', 
                                                        'sel',true, false, inputSelectLbl,'Select Privilege Granted ',
                                                         'Select Privilege Not Granted')">
                                                    <!-- (fieldId, pattern, object, property, trueValue,falseValue, labelId, labelTrueValue,labelFalseValue) -->
                                                    <label class="form-check-label" for="inputSelect"
                                                        id="inputSelectLbl">
                                                        Select Privilege Not Granted
                                                    </label>

                                                </div>

                                            </div>


                                        </div>
                                        <!-- select end -->
                                        <!-- insert start -->
                                        <div class="row ms-3 me-3">
                                            <div class="mb-3 row "
                                                style="height: 40px; display: flex; justify-content: center; align-items: center;">
                                                <label for="inputInsert1"
                                                    class="col-2 col-form-label ">Insert</label>

                                                <div class="col-lg-10 form-check mt-1  " id="inputInsert1">

                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="inputInsert" checked onchange="checkBoxValidator(inputInsert,'','privilege', 
                                                        'inst',true, false, inputInsertLbl,'Insert Privilege Granted ',
                                                         'Insert Privilege Not Granted')">
                                                    <!-- (fieldId, pattern, object, property, trueValue,falseValue, labelId, labelTrueValue,labelFalseValue) -->
                                                    <label class="form-check-label" for="inputInsert"
                                                        id="inputInsertLbl">
                                                        Insert Privilege Not Granted
                                                    </label>

                                                </div>

                                            </div>


                                        </div>
                                        <!-- insert end -->
                                        <!-- update start -->
                                        <div class="row ms-3 me-3">
                                            <div class="mb-3 row "
                                                style="height: 40px; display: flex; justify-content: center; align-items: center;">
                                                <label for="inputUpdate1"
                                                    class="col-2 col-form-label ">Update</label>

                                                <div class="col-lg-10 form-check mt-1  " id="inputUpdate1">

                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="inputUpdate" checked onchange="checkBoxValidator(inputUpdate,'','privilege', 
                                                        'upd',true, false, inputUpdateLbl,'Update Privilege Granted ',
                                                         'Update Privilege Not Granted')">
                                                    <!-- (fieldId, pattern, object, property, trueValue,falseValue, labelId, labelTrueValue,labelFalseValue) -->
                                                    <label class="form-check-label" for="inputUpdate"
                                                        id="inputUpdateLbl">
                                                        Update Privilege Not Granted
                                                    </label>

                                                </div>

                                            </div>


                                        </div>
                                        <!-- Update end -->
                                        <!-- Delete start -->
                                        <div class="row ms-3 me-3">
                                            <div class="mb-3 row "
                                                style="height: 40px; display: flex; justify-content: center; align-items: center;">
                                                <label for="inputDelete1"
                                                    class="col-2 col-form-label ">Delete</label>

                                                <div class="col-lg-10 form-check mt-1  " id="inputDelete1">

                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="inputDelete" checked onchange="checkBoxValidator(inputDelete,'','privilege', 
                                                        'del',true, false, inputDeleteLbl,'Delete Privilege Granted ',
                                                         'Delete Privilege Not Granted')">
                                                    <!-- (fieldId, pattern, object, property, trueValue,falseValue, labelId, labelTrueValue,labelFalseValue) -->
                                                    <label class="form-check-label" for="inputDelete"
                                                        id="inputDeleteLbl">
                                                        Delete Privilege Not Granted
                                                    </label>

                                                </div>

                                            </div>


                                        </div>
                                        <!-- Update end -->

                                        <!-- button group start -->
                                        <div class="row ms-3 me-3 mt-4 mb-3"
                                            style="display: flex;justify-content: space-between;">
                                            <div class="col">
                                                <button type="button" class="btn btn-info"><i
                                                        class="fa-solid fa-broom"></i>Clear</button>
                                            </div>
                                            <div class="col"
                                                style="display: flex; justify-content: flex-end;gap:10px">
                                                <button type="button" class="btn btn-warning"
                                                    style="border-radius: 30px;" onclick="updatePrivilegeBtn()"><i
                                                        class="fa-solid fa-pen-to-square"></i>Update</button>
                                                <button type="button" class="btn btn-success"
                                                    style="border-radius: 30px;" onclick="buttonPrivilegeAdd()"><i
                                                        class="fa-solid fa-plus"></i>Add</button>
                                            </div>
                                        </div>
                                        <!-- button group end -->



                                    </div>
                                </div>
              


                        </form>
                        <!-- Privilege form end -->
                    </div>


                </div>
                <!-- employee form end -->

            </main>
            <!-- main component end -->

        </div>
        <!-- ui content area end -->
    </div>


    <script>
        const toggler = document.querySelector(".btn");

        toggler.addEventListener("click", function () {
            document.querySelector("#sidebar").classList.toggle("collapsed");
        });

        const sidebarItems = document.querySelectorAll(".sidebar-sublink");

        sidebarItems.forEach(function (item) {
            item.addEventListener("click", function () {
                document.querySelector("#sidebar").classList.toggle("collapsed");
            });
        });

        document.addEventListener("DOMContentLoaded", function () {

            document.querySelector("#sidebar").classList.toggle("collapsed");

        })

        const sidebarItems1 = document.querySelectorAll(".sidebar-item");

        sidebarItems1.forEach(function (item) {
            const link = item.querySelector(".sidebar-link");

            link.addEventListener("click", function () {
                sidebarItems1.forEach(function (otherItem) {
                    otherItem.classList.remove("active"); // Remove "active" from other items
                });
                item.classList.add("active"); // Add "active" to the clicked item
            });
        });




    </script>
    <script>
        const btn = document.getElementById("empaddbtn");
        btn.addEventListener("click", function () {
            const table = document.getElementById("empTable");
            const form = document.getElementById("empForm");

            // Animate table disappearance
            table.style.opacity = 1; // Ensure opacity is initially 1
            table.style.transition = "opacity 1.5s ease-out";
            table.style.display = "none"; // Trigger the animation

            // Delay form appearance slightly
            setTimeout(function () {
                form.style.opacity = 0;
                form.style.display = "block";
                form.style.transition = "opacity 1.5s ease-in";
                form.style.opacity = 1; // Gradually fade in
            }, 100); // Adjust the delay as needed
        });

        const Formbtn = document.getElementById("empFormToTable")
        Formbtn.addEventListener("click", function () {
            const table = document.getElementById("empTable")
            table.style.display = "block";
            const form = document.getElementById("empForm")
            form.style.display = "none"
        })
        const tableBtn = document.getElementById("empTable1")
        tableBtn.addEventListener("click", function () {
            const table = document.getElementById("empTable")
            table.style.display = "block";
            const form = document.getElementById("empForm")
            form.style.display = "none"
        })

    </script>




</body>

</html>