<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ layouts/head :: headFragment}">

</head>

<head th:replace="~{ layouts/head :: headPurchaseFragment}">

</head>


<body>
    <div class="wrapper">

        <!-- side bar -->
        <aside th:replace="~{ layouts/sidebar :: sidebarfragment}"></aside>


        <!-- ui content area start -->
        <div class="main">
            <!-- top navbar -->
            <nav th:replace="~{ layouts/navbar :: topnavbarfragment}"></nav>
            <!-- main component start -->
            <main class="content px-3 py-2 w3-container">

                <!-- employee table start -->
                <div class="w3-animate-right" id="empTable">

                    <div class="mb-3 " style="display: flex; justify-content:space-between; align-items: center;">

                        <h4>Purchase Table</h4>
                        <button id="empaddbtn" class="btn btn-success mb-2">Add Purchase</button>
                    </div>
                    <div class="container-fluid">
                        <div class="mb-3 table-responsive">
                            <table class="table table-dark table-bordered border-primary" id="purchaseTab">
                                <thead>

                                    <th scope="col">#</th>
                                    <th scope="col">Purchase Code</th>
                                    <th scope="col">Category</th>
                                    <!-- <th scope="col">Item Brand</th> -->
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Supplier</th>
                                    <!-- <th scope="col">Send Status</th> -->
                                    <th scope="col">Button</th>


                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- employee table end -->

                <!-- employee form start -->
                <div id="empForm" class="w3-animate-left" style="display: none;">
                    <div class=" " style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <button id="empFormToTable" class="btn btn-success mb-3">Table</button>
                            <button type="button" class="btn btn-secondary mb-3" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop8">
                                Purchase Order Requests
                            </button>
                        </div>
                        <h4>Purchase Form</h4>
                    </div>
                    <div class="modal fade" id="staticBackdrop8" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 fw-semibold" id="staticBackdropLabel">Requests</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                   
                                    <div class="row p-3">
                                        <table class="table" id="repairUsedItemTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Item Code</th>
                                                    <th scope="col">Item Category</th>
                                                    <th scope="col">Item Name</th>
                                                    <th scope="col">Qty</th>
                                                    <th scope="col">Buttons</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">00001</th>
                                                    <td>Ram</td>
                                                    <td>vangurd</td>
                                                    <td>10</td>
                                                    <td>
                                                        <!-- <button class="btn btn-success">send</button> -->
                                                        <button class="btn btn-success"><i
                                                                class="fa-solid fa-money-check-dollar"></i></button>
                                                        <button class="btn btn-danger"><i
                                                                class="fa-solid fa-trash"></i></button>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                 
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="border: 1px solid black; padding: 10px;">

                        <!-- Supplier form start -->
                        <!-- onsubmit="return false;" -->
                        <form class="p-2 m-2" onsubmit="return false;">

                            <!-- category start -->
                            <div class="mb-3 mt-3">
                                <div class="row form-floating">
                                    <div class="" id="CategoryPur">
                                        <div class="card card-body">
                                            <div class="row">

                                                <div class="col-5">
                                                    <select class="form-select" aria-label="Default select example"
                                                        id="selectPurchCategory" onchange="filterCategoryItems()">
                                                        >

                                                    </select>
                                                </div>

                                                <div class="col-7 checkboxes-container"
                                                    style="display: flex; flex-direction: column; gap: 10px;"
                                                    id="categoryItemCheckBoxes">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- category end -->

                            <!-- qty, item price start -->
                            <div class="row mt-3 p-2 d-flex justify-content-center align-items-center ">
                                <div class="col-4 form-floating mb-3 p-1">
                                    <input type="text" class="purchaseQty form-control" id="purchaseQty"
                                        onchange="purchaseQtyy()">
                                    <label for="purchaseQty" class="pl-2">Qty</label>
                                </div>
                                <div class="col-4 form-floating mb-3 p-1">
                                    <input type="text" class="purchaseItemPrice form-control" id="purchaseItemPrice"
                                        placeholder="Purchase Price" onchange="purchaseItemQty()">
                                    <label for="floatingInput">Item Price</label>
                                </div>
                                <div class="col-4 form-floating mb-3 p-1">

                                </div>


                            </div>
                            <!-- qty, item price end -->


                            <!-- suppliers list according to categories start -->
                            <div class="card p-2 mb-3">
                                <div class="row m-1">

                                    <div class=" col-2 p-2" style="font-weight: bolder;" id="">Suppliers List</div>
                                    <div class="col form-check p-2">
                                        <input class="form-check-input allSupplierList" type="checkbox" value=""
                                            id="allSupplierList1" onchange="allSuppliers(this);">

                                        <label class="form-check-label " style="font-weight: bolder;"
                                            for="allSupplierList1">
                                            All
                                        </label>
                                    </div>

                                </div>
                                <div class="col-7 checkboxes-container supplierlist" id="supplierlistByCategory"
                                    style="display: flex;  flex-wrap: wrap; gap: 10px;">


                                </div>
                            </div>
                            <!-- suppliers list according to categories end -->


                            <!-- add button start -->
                            <div class="mb-3">
                                <button class="btn btn-success" onclick="addItemSuppTable()">Add</button>
                            </div>
                            <!-- add button end -->

                            <!-- table of descriptions start -->
                            <table class="table" id="ItemPurchTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Item Category</th>
                                        <!-- <th scope="col">Item brand</th> -->
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Item Qty</th>
                                        <th scope="col">Buttons</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <!-- table of descriptions end -->

                            <hr>


                            <table class="table" id="ItemSuppTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Supplier Name</th>
                                        <th scope="col">Supplier Status</th>
                                        <th scope="col">Supplier Contact</th>
                                        <th scope="col">Buttons</th>

                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <form action=""></form>

                            <!-- add more details modal start-->
                            <button onclick="document.getElementById('moreSpecModal').style.display='block'"
                                class="w3-button w3-green">
                                Add More Specifications</button>
                            <div id="moreSpecModal" class="w3-modal">
                                <div class="w3-modal-content w3-animate-top w3-animate-fade w3-card-4">
                                    <header class="w3-container w3-blue">
                                        <span onclick="document.getElementById('moreSpecModal').style.display='none'"
                                            class="w3-button w3-display-topright">&times;</span>
                                        <h4>Add More Specs</h4>
                                    </header>
                                    <div class="w3-container">
                                        <table class="w3-table-all w3-hoverable mt-3 mb-3">
                                            <thead>
                                                <tr class="w3-light-grey">
                                                    <th>Specification</th>
                                                    <th>Details</th>
                                                    <th>Delete Status</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>Read/Write Speeds</td>
                                                <td>7,000/5,100 MB/s</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Cache Memory
                                                </td>
                                                <td>Samsung 2GB Low Power DDR4 SDRAM
                                                </td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Security</td>
                                                <td>AES 256-bit Full Disk Encryption, TCG/Opal V2.0, Encrypted Drive
                                                    (IEEE1667)
                                                </td>
                                                <td>No</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <footer class="w3-container ">
                                        <div class="row p-2 d-flex justify-content-end align-items-center"
                                            style="display: flex; flex-direction: row; gap:10px;">
                                            <button class="col-3 btn btn-warning">UPDATE</button>
                                            <button class="col-3 btn btn-primary">ADD</button>

                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <!-- add more details modal end-->


                            <!-- button gruop start -->
                            <div class="row p-2 d-flex justify-content-end align-items-center"
                                style="display: flex; flex-direction: row; gap:10px;">
                                <button class="col-3 btn btn-warning" disabled>UPDATE</button>
                                <button class="col-3 btn btn-primary" onclick="addItemSupp()">ADD</button>

                            </div>
                            <!-- button gruop end -->

                        </form>
                        <!-- Supplier form end -->
                    </div>


                </div>
                <!-- employee form end -->

            </main>
            <!-- main component end -->

        </div>
        <!-- ui content area end -->
    </div>


    <script src="templates/layouts/layout1.js"></script>
    <script src="templates/layouts/layout2.js"></script>

</body>

</html>