<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ layouts/head :: headFragment}">

</head>

<head th:replace="~{ layouts/head :: headInvoiceFragment}">

</head>

<body>
    <div class="wrapper">

        <!-- side bar -->
        <aside th:replace="~{ layouts/sidebar :: sidebarfragment}"></aside>

        <!-- ui content area start -->
        <div class="main">
            <!-- top navbar -->
            <nav th:replace="~{ layouts/navbar :: topnavbarfragment}"></nav>
            <!-- main component start -->
            <main class="content px-3 py-2 w3-container">

                <!-- Invoice table start -->
                <div class="w3-animate-right" id="empTable">

                    <div class="mb-3 " style="display: flex; justify-content:space-between; align-items: center;">

                        <h4 class="fw-bolder">Warrenty </h4>
                        <button id="empaddbtn" class="btn btn-success mb-2">Add Invoice</button>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="row">

                                        <div class="col-2 mt-1">Barcode</div>
                                        <div class="col-6">
                                            <input type="text" class="form-control mb-1" id="floatingInput"
                                                placeholder="978-0307408427">
                                        </div>
                                    </div>
                                    <div class="row mt-2">

                                        <div class="col-2">Item name</div>
                                        <div class="col-6">
                                            <label for="" class="" style="font-weight: bold;" id="lblItemName">NVIDIA
                                                GeForce RTX 4090
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row mt-2">

                                        <div class="col-2  mt-1">Serial No</div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="floatingInput"
                                                placeholder="AB12CDEFG34H56JK">
                                        </div>
                                    </div>
                            
                                    <div class="row mt-3">
                                        <div class="col-2 mt-1">UnitPrice</div>
                                        <div class="col-3">
                                            <input type="text" class="form-control" id="floatingInput"
                                                placeholder="Rs.">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="mr-1">
                                            <button class="btn btn-warning" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseItemWarrenty" aria-expanded="false"
                                                aria-controls="collapseItemWarrenty">
                                                Warrenty
                                            </button>
                                            <div class="collapse mt-3" id="collapseItemWarrenty">
                                                <div class="card card-body">
                                                    <form class=" ">
                                                        <div
                                                            class="row mt-3 d-flex justify-content-center align-items-center ">
                                                            <div class="col-6 form-floating  p-1">
                                                                <input type="text" class="form-control"
                                                                    id="inputBankName">
                                                                <label for="inputBankName" class="pl-2">Customer
                                                                    Name</label>
                                                            </div>
                                                            <div class="col-6 form-floating  p-1">
                                                                <input type="text" class="form-control"
                                                                    id="inputBankBranch">
                                                                <label for="inputBankBranch">Customer Contact
                                                                    No:</label>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="row  d-flex justify-content-center align-items-center ">
                                                            <div class="col-6 form-floating  p-1">
                                                                <input type="text" class="form-control"
                                                                    id="inputBankName">
                                                                <label for="inputBankName" class="pl-2">Item
                                                                    Name</label>
                                                            </div>
                                                            <div class="col-6 form-floating  p-1">
                                                                <input type="date" class="form-control"
                                                                    id="inputBankBranch">
                                                                <label for="inputBankBranch">Warrenty Start
                                                                    Date</label>
                                                            </div>

                                                        </div>
                                                        <div
                                                            class="row d-flex justify-content-center align-items-center ">


                                                            <div class="col-6 form-floating p-1">
                                                                <input type="text" class="form-control"
                                                                    id="inputAccName">
                                                                <label for="inputAccName">Warrenty Period</label>
                                                            </div>
                                                            <div class="col-6 form-floating p-1">
                                                                <input type="text" class="form-control"
                                                                    id="inputAccHolderName">
                                                                <label for="inputAccHolderName">Warrenty Ending
                                                                    Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                      
                                                                <label for="" class="fw-bolder">To Be Expire On <span style="color: red;">2023-09-08</span></label>
                                                            
                                                        </div>
                                                      

                                                    </form>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class=" form-floating p-1">
                                                    <button class="btn btn-success">Return Company</button>
                                                    <button class="btn btn-danger" style="color: white;">Ready Repair</button>
                                                </div>
                                         
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6">

                                <div class="mb-3 table-responsive">
                                    <table class="table table-dark table-bordered border-primary" id="graphicTab">
                                        <thead>

                                            <th scope="col">#</th>
                                            <th scope="col">Barcode</th>
                                            <th scope="col">Serial No</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Button</th>

                                        </thead>
                                        <tbody>
                                            <th scope="row">1</th>
                                            <td>978-0307408427</td>
                                            <td>AB12CDEFG34H56JK</td>
                                            <td>Panasonic-Graphic card</td>
                                            <td>Return Company</td>
                                            <td><button class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                                                <button class="btn btn-info">
                                                    <i class="fa-solid fa-pen-to-square"></i></button>
    
                                                <button class="btn btn-danger"><i class="fa-solid fa-pen-to-square"></i></button>
                                            </td>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Invoice table end -->

                <!-- Invoice form start -->
                <div id="empForm" class="w3-animate-left" style="display: none;">
                    <div class="" style="display: flex; justify-content: space-between; align-items: center;">
                        <button id="empFormToTable" class="btn btn-success mb-3">Warrenty Form</button>
                        <h4>Invoice Form</h4>
                    </div>

                    <div style="border: 1px solid black; padding: 10px;">

                        <!-- Invoice form start -->
                        <form class="p-2 m-2" onsubmit="return false">
                            <div class="row">
                                <!-- form start  -->
                                <div class="col-9">

                                    <!-- date start -->
                                    <div class="row p-2">
                                        <div id="date" class="fw-bolder" style="color: red;">2024-09-09</div>
                                    </div>
                                    <!-- date end -->
                                    <!-- choose category start -->
                                    <div class="row">
                                        <div class="col-2 mt-1">
                                            <label for="category">Select the category</label>
                                        </div>
                                        <div class="col-5">
                                            <select class="form-select" id="category"
                                                aria-label="Default select example">
                                                <option selected>Select A Category</option>
                                                <option value="1">Graphic Card</option>
                                                <option value="2">Ram</option>
                                                <option value="3">MotherBoard</option>
                                                <option value="3">Monitor</option>
                                                <option value="3">Hard Disk</option>
                                                <option value="3">Casing</option>
                                                <option value="3">Power Supply</option>
                                                <option value="3">Processor</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- choose category end -->
                                    <!-- select item name start -->
                                    <div class="row mt-2">
                                        <div class="col-2 mt-1">
                                            <label for="category">Select item name</label>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-select" id="category"
                                                aria-label="Default select example">
                                                <option selected>Select Item</option>
                                                <option value="1">Graphic Card</option>
                                                <option value="2">Ram</option>
                                                <option value="3">MotherBoard</option>
                                                <option value="3">Monitor</option>
                                                <option value="3">Hard Disk</option>
                                                <option value="3">Casing</option>
                                                <option value="3">Power Supply</option>
                                                <option value="3">Processor</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- select item name end -->
                                    <div class="row p-2">
                                        <div id="itemDtails" class="fw-bolder" style="color: rgb(0, 0, 255);">Item
                                            Details
                                        </div>
                                    </div>
                                    <!-- item details start -->
                                    <div class="row mt-3">
                                        <div class="row">

                                            <div class="col-2 mt-1">Barcode</div>
                                            <div class="col-6">
                                                <input type="text" class="form-control mb-1" id="floatingInput"
                                                    placeholder="978-0307408427">
                                            </div>
                                        </div>
                                        <div class="row mt-2">

                                            <div class="col-2">Item name</div>
                                            <div class="col-6">
                                                <label for="" class="" style="font-weight: bold;"
                                                    id="lblItemName">NVIDIA
                                                    GeForce RTX 4090
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row mt-2">

                                            <div class="col-2 mt-1">Item Serial No</div>
                                            <div class="col-6">
                                                <input type="text" class="form-control" id="floatingInput"
                                                    placeholder="AB12CDEFG34H56JK">
                                            </div>
                                        </div>
                                
                                        <div class="row mt-3">
                                            <div class="col-2 mt-1">Item UnitPrice</div>
                                            <div class="col-3">
                                                <input type="text" class="form-control" id="floatingInput"
                                                    placeholder="Rs.">
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="mr-1">
                                                <button class="btn btn-warning" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseItemWarrenty" aria-expanded="false"
                                                    aria-controls="collapseItemWarrenty">
                                                    Warrenty
                                                </button>
                                                <div class="collapse mt-3" id="collapseItemWarrenty">
                                                    <div class="card card-body">
                                                        <form class=" ">
                                                            <div
                                                                class="row mt-3 d-flex justify-content-center align-items-center ">
                                                                <div class="col-6 form-floating  p-1">
                                                                    <input type="text" class="form-control"
                                                                        id="inputBankName">
                                                                    <label for="inputBankName" class="pl-2">Customer
                                                                        Name</label>
                                                                </div>
                                                                <div class="col-6 form-floating  p-1">
                                                                    <input type="text" class="form-control"
                                                                        id="inputBankBranch">
                                                                    <label for="inputBankBranch">Customer Contact
                                                                        No:</label>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="row  d-flex justify-content-center align-items-center ">
                                                                <div class="col-6 form-floating  p-1">
                                                                    <input type="text" class="form-control"
                                                                        id="inputBankName">
                                                                    <label for="inputBankName" class="pl-2">Item
                                                                        Name</label>
                                                                </div>
                                                                <div class="col-6 form-floating  p-1">
                                                                    <input type="date" class="form-control"
                                                                        id="inputBankBranch">
                                                                    <label for="inputBankBranch">Warrenty Start
                                                                        Date</label>
                                                                </div>

                                                            </div>
                                                            <div
                                                                class="row d-flex justify-content-center align-items-center ">


                                                                <div class="col-6 form-floating p-1">
                                                                    <input type="text" class="form-control"
                                                                        id="inputAccName">
                                                                    <label for="inputAccName">Warrenty Period</label>
                                                                </div>
                                                                <div class="col-6 form-floating p-1">
                                                                    <input type="text" class="form-control"
                                                                        id="inputAccHolderName">
                                                                    <label for="inputAccHolderName">Warrenty Ending
                                                                        Date</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-3 form-floating p-1">

                                                                    <button class="btn btn-success">Add</button>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row mt-3">
                                            <div class="mr-1">
                                                <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseItemDetails" aria-expanded="false"
                                                    aria-controls="collapseItemDetails" style="color: white;">
                                                    Add Item
                                                </button>
                                                <div class="collapse mt-3" id="collapseItemDetails">
                                                    <div class="card card-body">
                                                        <table class="table ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Item Code</th>
                                                                    <th scope="col">Item Name</th>
                                                                    <th scope="col">Item Price</th>
                                                                    <th scope="col">Item Qty</th>
                                                                    <th scope="col">Buttons</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">00001</th>
                                                                    <td>Ram</td>
                                                                    <td>23</td>
                                                                    <td>100</td>
                                                                    <td>
                                                                        <!-- <button class="btn btn-success">send</button> -->
                                                                        <button class="btn btn-success"><i
                                                                                class="fa-solid fa-money-check-dollar"></i></button>
                                                                        <button class="btn btn-danger"><i
                                                                                class="fa-solid fa-trash"></i></button>
                                                                    </td>
                                                                </tr>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-2 mt-1">Discount</div>
                                            <div class="col-3">
                                                <select class="form-select" id="category"
                                                    aria-label="Default select example">
                                                    <option selected>Select Discount Type</option>
                                                    <option value="1">Customer Vise</option>
                                                    <option value="2">Manually</option>
                                                </select>
                                                <div class="form-floating p-1 mt-1 mb-1">
                                                    <input type="text" class="form-control" disabled id="floatingInput"
                                                        placeholder="0775656567">
                                                    <label for="floatingInput">Phone Number</label>
                                                </div>
                                                <div class="form-floating p-1 mt-1 mb-2">
                                                    <input type="text" class="form-control" disabled id="floatingInput"
                                                        placeholder="%">
                                                    <label for="floatingInput">Discount Rate</label>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <select class="form-select" id="customer" disabled
                                                    aria-label="Default select example">
                                                    <option selected>Select Customer</option>
                                                    <option value="1">Ravina</option>
                                                    <option value="2">Ravina</option>
                                                </select>
                                            </div>


                                        </div>
                                        <div class="row ">
                                            <div class="col-2 mt-1">Item TotalPrice</div>
                                            <div class="col-3">
                                                <input type="text" class="form-control" id="floatingInput"
                                                    placeholder="Rs.">
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-2 mt-1">Cutomer payment</div>
                                            <div class="col-3">
                                                <input type="text" class="form-control" id="floatingInput"
                                                    placeholder="Rs.">
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-2 mt-1">Balance</div>
                                            <div class="col-3">
                                                <input type="text" class="form-control" id="floatingInput"
                                                    placeholder="Rs.">
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-3">

                                                <button class="btn btn-danger" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseBankDetails" aria-expanded="false"
                                                    aria-controls="collapseBankDetails">
                                                    Submit payment
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item details end -->
                                    <!-- customer details start -->
                                    <p class="d-inline-flex gap-1 mt-4">

                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseBankDetails" aria-expanded="false"
                                            aria-controls="collapseBankDetails">
                                            Customer Details
                                        </button>

                                    </p><br>
                                    <!-- customer details end -->
                                </div>
                                <!-- form end -->
                                <!-- update start -->
                                <div class="col-3">
                                    <!-- invoice no -->
                                    <div class="row mt-3">
                                        <div class="col-6 mt-1">Item Invoice No</div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="floatingInput" placeholder="">
                                        </div>
                                    </div>
                                    <!-- serial no -->
                                    <div class="row mt-3">
                                        <div class="col-6 mt-1">Item Serial No</div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="floatingInput" placeholder="">
                                        </div>
                                    </div>
                                    <!-- button -->
                                    <div class="row mt-3">
                                        <button class="btn btn-warning" type="button">Update</button>
                                    </div>
                                </div>
                                <!-- update end -->
                            </div>

                            <!-- add more details modal start-->
                            <button onclick="document.getElementById('moreSpecModal').style.display='block'"
                                class="w3-button w3-green">
                                Add More Specifications</button>
                            <div id="moreSpecModal" class="w3-modal">
                                <div class="w3-modal-content w3-animate-top w3-animate-fade w3-card-4">
                                    <header class="w3-container w3-blue">
                                        <span onclick="document.getElementById('moreSpecModal').style.display='none'"
                                            class="w3-button w3-display-topright">&times;</span>
                                        <h4>Add More Specs</h4>
                                    </header>
                                    <div class="w3-container">
                                        <table class="w3-table-all w3-hoverable mt-3 mb-3">
                                            <thead>
                                                <tr class="w3-light-grey">
                                                    <th>Specification</th>
                                                    <th>Details</th>
                                                    <th>Delete Status</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>Read/Write Speeds</td>
                                                <td>7,000/5,100 MB/s</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Cache Memory
                                                </td>
                                                <td>Samsung 2GB Low Power DDR4 SDRAM
                                                </td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Security</td>
                                                <td>AES 256-bit Full Disk Encryption, TCG/Opal V2.0, Encrypted Drive
                                                    (IEEE1667)
                                                </td>
                                                <td>No</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <footer class="w3-container ">
                                        <div class="row p-2 d-flex justify-content-end align-items-center"
                                            style="display: flex; flex-direction: row; gap:10px;">
                                            <button class="col-3 btn btn-warning">UPDATE</button>
                                            <button class="col-3 btn btn-primary">ADD</button>

                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <!-- add more details modal end-->

                            <!-- button gruop start -->
                            <div class="row p-2 d-flex justify-content-end align-items-center"
                                style="display: flex; flex-direction: row; gap:10px;">
                                <button class="col-3 btn btn-warning" disabled>UPDATE</button>
                                <button class="col-3 btn btn-primary" disabled>ADD</button>

                            </div>
                            <!-- button gruop end -->

                        </form>
                        <!-- Invoice form end -->
                    </div>

                </div>
                <!-- Invoice form end -->

            </main>
            <!-- main component end -->

        </div>
        <!-- ui content area end -->
    </div>


    <script src="templates/layouts/layout1.js"></script>
    <script src="templates/layouts/layout3.js"></script>

</body>

</html>