<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- link bs css -->
    <link rel="stylesheet" href="../resourcesT/bootstrap_5.3.1/css/bootstrap.min.css">
    <!-- link bs js file -->
    <script src="../resourcesT/bootstrap_5.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="../resourcesT/style/dashboard.css"> -->
    <link rel="stylesheet" href="../resourcesT/style/login.css">
    <link rel="stylesheet" href="style.css">
    <!-- link fontawesome -->
    <link rel="stylesheet" href="../resourcesT/fontawesome_web/css/all.css">
    <!-- jquery -->
    <script src="../resourcesT/js/jquery.js"></script>
    <script src="../resourcesT/assets/jeewa-high-resolution-logo-black-transparent.png"></script>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="../resourcesT/w3css/w3.css">


</head>

<body>
    <div class="row h-100">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="card" >
                <div class="card-body" >
                    <form >
                        <div class="row"  style="width: 1000px; height: 500px;">
                            <!-- carousel start -->
                            <div class="col m-3 border-end " >
                                <div class="d-flex  h-100 justify-content-center align-items-center">
                                    
                                     <img src="../resourcesT/assets/jeewa-high-resolution-logo-black-transparent.png" alt="" class="" 
                                     style="width: 300px; height: 300px;">

                                </div>
                                
                            </div>
                            <!-- carousel end -->

                            <!-- login form start-->
                            <div class="col m-5" >
                                <div style="display: flex; justify-content: center; align-items: center; ">
        
                                    <h2  style="font-family: 'Courier New', monospace; font-weight: bolder;">Login Page</h2>
                                </div>
                                <div style="margin-top: 50px;">
                                    <div class="mb-3 ">
                                      <label for="uname" class="form-label">Username:</label>
                                      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
                                      <!-- <div class="valid-feedback">Valid.</div>
                                      <div class="invalid-feedback">Please fill out this field.</div> -->
                                    </div>
                                    <div class="mb-3">
                                      <label for="pwd" class="form-label">Password:</label>
                                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
                                      <!-- <div class="valid-feedback">Valid.</div>
                                      <div class="invalid-feedback">Please fill out this field.</div> -->
                                    </div>
                                    <div class="form-check mb-3">
                                      <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
                                      <label class="form-check-label" for="myCheck">I agree on blabla.</label>
                                      <!-- <div class="valid-feedback">Valid.</div>
                                      <div class="invalid-feedback">Check this checkbox to continue.</div> -->
                                    </div>
                                    <div  >

                                        <button class="w3-button  w3-block w3-blue">Login</button>
                                    </div>

                                </div>
    
                            </div>
                            <!-- login form end -->
                          
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>